<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Movie search app
    </title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <hr>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Movie try App</h1>
            <p class="lead">
                Hey there please me to change by default query from undefined to string <br> Search movie names below to find the results
            </p>
        </div>
    </div>
    <hr>