<%- include('partials/header') %>
    <h1>Search Movies</h1>
    <!-- <a href="home">Go to Home page</a> -->
    <form action="/results" method="GET">
        <label>search new movie: </label>
        <input type="text" name="search" placeholder="Movie name">
        <button>Search</button>
    </form>
    <%- include('partials/footer') %>