<%- include('partials/header') %>
    <h1>You Searched for</h1>
    <!-- <a href="home">Go to Home page</a> -->
    <% data["search"].forEach(function(movie){ %>
        <li>movie["Title"]</li>
        <% }) %>
            <%- include('partials/footer') %>